<html>
  <head>
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">
        {{ content }}
      </div>
      <div class="block">
             <script>
          (function() {
               var cx = '006532633397456281627:-irwrgt0a9w';
                   var gcse = document.createElement('script');
                       gcse.type = 'text/javascript';
                           gcse.async = true;
                               gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                       '//www.google.com/cse/cse.js?cx=' + cx;
                                           var s = document.getElementsByTagName('script')[0];
                                               s.parentNode.insertBefore(gcse, s);
                                                 })();
</script>
<gcse:search></gcse:search>
        </script>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
