<html>
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include post_pagination.html %}
      <div class="content typo">
        <section class='post'>
          <h1>
            <div class='date'>{{ page.date | date_to_string }}</div>
            {{ page.title }}
          </h1>
          {{ content }}
          <i>-eof-</i>
        </section>
      </div>
      {% include links.html %}
      {% if site.google_custom_search_engine_id %}
        {% include gcse.html %}
      {% endif %}
      {% if site.disqus_shortname and page.disqus != false %}
        {% include disqus.html %}
      {% endif %}
      {% include links.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
